* {margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
:focus {outline:0;}
body {line-height:1;color:black;background:white;}
ol, ul {list-style:none;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
blockquote:before, blockquote:after, q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}

body{width:663px;font-family: Arial, Helvetica, Garuda, san-serif;padding:10px 0 0 15px;}
p {font-size:14px;line-height:18px;}
.copy {margin:30px 0 0 0;}
.byline{margin:0 0 20px 0;}
.link{color:#0000ee;}
h1 {font-size:30px;font-family: "Times New Roman", FreeSerif;font-weight:bold;margin:15px 0 15px 0;}
.imgfloater{float:left;margin:0 10px 20px 0;}
.imgfloater p{font-size:12px;color:#3d3832;font-family: "Times New Roman", FreeSerif;}
.notes{border-top:1px solid #b5b5b5;padding:10px 0 0 0;margin:30px 0 0 0;clear:left;}
.notes p {margin:10px auto;font-style:oblique;}
.notes textarea {border:1px solid #999; border-top:1px solid #737373;}
.footer{border-top:1px solid black;padding:20px 0 0 0;margin:40px 0 0 0;clear:left;}
.footer p{font-family: "Times New Roman", FreeSerif;font-size:14px;line-height:21px;color:#666;}
.footer strong{color:#000;}
strong{font-weight:bold;}