body{
	width:663px;
	font-family: Arial, Helvetica, Garuda, san-serif;
	padding:0 0 0 15px;
}
p {
	font-size:14px;
	line-height:18px;
}

.logo-img p{
padding:7px 0 0 8px;
margin:0;
color:#8a8a8a;
font-size:11px;
}
.copy {
	margin:30px 0 0 0;
}
.byline{
	margin:0 0 20px 0;
}
.link{
	color:#0000ee;
}
h1 {
	font-size:30px;
	font-family: "Times New Roman", FreeSerif;
	font-weight:bold;
	margin:15px 0 15px 0;
}
.imgfloater{
	float:left;
	margin:0 10px 20px 0;
}
.print-page, .print-page p{
color:#000000;
font-size:14px;
line-height:18px;
}

.imgfloater p, table.cs_img .caption {
  color:#939393;
  font-size:11px;
  text-transform:uppercase;
  width: 300px;
}

.footer{
	border-top:1px solid black;
	padding:20px 0 0 0;
	margin:60px 0 0 0;
	clear:left;
}
.footer p{
	font-family: "Times New Roman", FreeSerif;
	font-size:14px;
	line-height:21px;
	color:#666;
}
.footer strong{
	color:#000;
}
strong{
	font-weight:bold;
}