/* Additions to the original main.css - !importnat
-----------------------------------------------------------------------------*/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

.center {text-align: center; margin: 0 auto;}

.header .nav-main .a-video {width: 150px;}

#fb-root iframe {
  width: 236px !important;
}

.tabs .tabs-labels a {
  cursor: pointer;
}

.article .text {
  margin-bottom: 13px;
}

.social-buttons {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px dotted #999;
	margin-top: -3px;
	
}
.social-buttons li {
	display: inline-block;
	vertical-align: middle;
}

.social-buttons .addthis {
  float: right;
}

.video {
  width: 640px;
}

.video a.flowplayer, .video object {
  display: block;
  width: 640px;
  height: 360px;
  margin-bottom: 20px;
}

#top_posts {padding-bottom: 30px !important;}
#link-home {display: none !important;}

a.preview {text-decoration: none;}

.last-reports .preview img {
	width: 70px;
	height: 50px;
}

.popular .preview img {
	width: 90px;
	height: 66px;
}

.last-videos .preview img,
.more-videos-from-section .preview img,
#section-content .preview img {
	width: 130px;
	height: 95px;
}


.tooltip {
	display: none;
	background: transparent url(/templates/video/img/white_arrow_big.png);
	z-index: 1000;
	font-size: 11px;
	line-height: 14px;
	height: 226px;
	width: 320px;
  overflow: hidden;
	padding: 25px;
}
.tooltip .video-info {margin-bottom: 11px;}
.tooltip .video-info li {display: block; margin: 0 0 -2px;}
.tooltip .video-info a {text-transform: uppercase; color: #3d3832;}
.tooltip h3 {margin-bottom: 2px;}
.tooltip .topics {padding-top: 14px;}


/* Форма отправки сообщения с сайта
-----------------------------------------------------------------------------*/
.send_letter form {width: 90%; margin: 0 auto; padding: 10px 10px 0 10px; text-align:center;}
.send_letter fieldset {border: none;}
.send_letter label {color:#808080; float: left;clear:left;text-align:left;}
.send_letter button[type="submit"] {margin: 0 auto; margin-top: 10px;}
.send_letter input.error {font-weight:bold; color:#ff0000;}
.send_letter .empty {background-color: #ffe9e9;}
.response {margin: 5% auto 0 auto; text-align: center; font-size: 1em; line-height: 1em; font-weight: bold; color: #3D3832;}
.response span {font-size: 1.6em; font-weight: bold; color: #50AA50; margin-right: 0.2em;}
.response.error span {color: #D61A1A;}


/* Google Custom Search
-----------------------------------------------------------------------------*/
/* Default theme
-----------------*/
/* Slight reset to make the preview have ample padding. */
.cse .gsc-control-cse, .gsc-control-cse {width: 100%;}
.cse .gsc-branding, .gsc-branding, .gcsc-branding {display: none;}
.cse .gsc-control-cse div, .gsc-control-cse div {position: normal;}
/* Selector for entire element. */
.cse .gsc-control-cse, .gsc-control-cse {background-color: #ffffff;border: 1px solid;  border-color: #ffffff;}
.cse .gsc-control-cse:after, .gsc-control-cse:after { content:"."; display:block; height:0; clear:both; visibility:hidden;}
.cse .gsc-resultsHeader,.gsc-resultsHeader {border: block;}
/* Search button */
.cse input.gsc-search-button, input.gsc-search-button {font-family: inherit;   color: #000000;   text-shadow: 0 1px 2px #FFFFFF;  background-color: #CECECE;  border: 1px outset;  border-color: #666666;  border-radius: 2px;  -moz-border-radius: 2px;  -webkit-border-radius: 2px;}
/* Inactive tab */
.cse .gsc-tabHeader.gsc-tabhInactive, .gsc-tabHeader.gsc-tabhInactive {  border-bottom: none;  color: #666666;  background-color: #e9e9e9;  border: 1px solid;  border-color: #e9e9e9;  border-bottom: none;}
/* Active tab */
.cse .gsc-tabHeader.gsc-tabhActive, .gsc-tabHeader.gsc-tabhActive {  background-color: #FFFFFF;  border: 1px solid;  border-top: 2px solid;  border-color: #e9e9e9;  border-top-color: #FF9900;  border-bottom: none;}
/* This is the tab bar bottom border. */
.cse .gsc-tabsArea,.gsc-tabsArea {margin-top: 1em;  border-bottom: 1px solid #e9e9e9;}
/* Inner wrapper for a result */
.cse .gsc-webResult.gsc-result, .gsc-webResult.gsc-result, .gsc-imageResult-column, .gsc-imageResult-classic {  padding: .25em;  border: 1px solid;  border-color: #ffffff;  margin-bottom: 1em;}
/* Result hover event styling */
.cse .gsc-webResult.gsc-result:hover, .gsc-webResult.gsc-result:hover, .gsc-results .gsc-imageResult-classic:hover, .gsc-results .gsc-imageResult-column:hover {  border: 1px solid;  border-color: #FFFFFF;}
/*Promotion Settings*/
/* The entire promo */
.cse .gs-promotion, .gs-promotion {  background-color: #FFFFFF;  border: 1px solid;  border-color: #336699;}
/* Promotion image */
.cse .gs-promotion .gs-promotion-image, .gs-promotion .gs-promotion-image {}
/* Promotion links */
.cse .gs-promotion a.gs-title:link, .gs-promotion a.gs-title:link, .cse .gs-promotion a.gs-title:link *, .gs-promotion a.gs-title:link *, .cse .gs-promotion .gs-snippet a:link, .gs-promotion .gs-snippet a:link {  color: #0000CC;}
.cse .gs-promotion a.gs-title:visited, .gs-promotion a.gs-title:visited, .cse .gs-promotion a.gs-title:visited *, .gs-promotion a.gs-title:visited *, .cse .gs-promotion .gs-snippet a:visited, .gs-promotion .gs-snippet a:visited {  color: #0000CC;}
.cse .gs-promotion a.gs-title:hover, .gs-promotion a.gs-title:hover, .cse .gs-promotion a.gs-title:hover *, .gs-promotion a.gs-title:hover *, .cse .gs-promotion .gs-snippet a:hover, .gs-promotion .gs-snippet a:hover {  color: #0000CC;}
.cse .gs-promotion a.gs-title:active, .gs-promotion a.gs-title:active, .cse .gs-promotion a.gs-title:active *, .gs-promotion a.gs-title:active *, .cse .gs-promotion .gs-snippet a:active, .gs-promotion .gs-snippet a:active {  color: #0000CC;}
/* Promotion snippet */
.cse .gs-promotion .gs-snippet, .gs-promotion .gs-snippet, .cse .gs-promotion .gs-title .gs-promotion-title-right, .gs-promotion .gs-title .gs-promotion-title-right, .cse .gs-promotion .gs-title .gs-promotion-title-right *, .gs-promotion .gs-title .gs-promotion-title-right * {  color: #000000;}
/* Promotion url */
.cse .gs-promotion .gs-visibleUrl, .gs-promotion .gs-visibleUrl {  color: #008000;}
/* Style for auto-completion table
 * .gsc-completion-selected : styling for a suggested query which the user has moused-over
 * .gsc-completion-container : styling for the table which contains the completions
 */
.gsc-completion-selected {background: #D5E2FF;}
.gsc-completion-container {z-index: 10000; background-position: 0 bottom !important; font-family: sans-serif;  font-size: 11px;  position: absolute;  background: white;  border: 1px solid #ccdae3 !important;  margin-left: 0;  margin-right: 0;  /* The top, left, and width are set in JavaScript. */}
/* Full URL */
.gs-webResult div.gs-visibleUrl-short {  display: none;}
.gs-webResult div.gs-visibleUrl-long {  display: block;}


/* Customization
---------------------------------------*/

#cse-search-form {position: absolute; right: 0; top: 63px; width: 225px;}
#cse-search-form-footer {position: absolute; right: 0; width: 225px;}
input.gsc-input {-moz-border-radius: 10px 0 0 10px; border-radius: 10px 0 0 10px; padding: 2px 2px 2px 8px !important; color: #185393; font-size: 11px; border: 1px solid #ccdae3 !important; height: 15px; line-height: 15px;}
table.gsc-search-box td.gsc-input {padding-right: 10px !important;}
input.gsc-search-button {border: 1px solid #ccdae3; background: #e5edf2 url("/templates/video/img/button-submit-bg.png") repeat-x; height: 21px; font-size: 12px; line-height: 19px; -moz-border-radius: 0 10px 10px 0; border-radius: 0 10px 10px 0; padding: 0 7px 2px 4px;}
input.gsc-search-button::-moz-focus-inner {padding: 0; border: 0;}
.gsc-clear-button {display: none !important;}

.gsc-webResult .gsc-result {padding: 1em 0 !important;}
.gs-result .gs-title, .gs-result .gs-title * {font: bold 14px/1 "Times New Roman",Times,serif !important; font-weight: bold; color: #990000 !important; text-decoration: none !important;}
.gs-result .gs-snippet, .gs-result .gs-snippet * {color: #3D3832 !important; font: normal 12px/18px sans-serif !important;}
.gs-spelling a {color: #185393 !important;}
.gsc-results .gsc-cursor-box {margin: 1em 0 !important;}
.gsc-results .gsc-cursor-box .gsc-cursor-page {margin-right: 10px !important; text-decoration: none !important;}

